.calculator__container {
	height: 700px;
	width: 400px;
	padding: 20px;

	background-color: white;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 30px 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.calculator__results__container {
	position: relative;
	margin-bottom: 20px;
	text-align: right;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.calculator__result {
	font-size: 3.5rem;
	line-height: 1;
	color: #2f2d2f;

	transform-origin: right bottom;
	transition: transform 0.2s ease;
}

.calculator__result span {
	display: inline-block;
	overflow: hidden;
	transition: width 0.3s ease;
}

.calculator__buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.calculator__buttons button {
	border: 0;
	outline: 0;
	border-radius: 10px;
	font-size: 1.25rem;
	font-weight: 400;
	background-color: transparent;
	color: #6d6d6d;
}

.calculator__buttons button:last-child {
	border-radius: 50%;
	color: white;
	background-image: linear-gradient(300deg, orange, purple);
}

.calculator__buttons .button__operator {
	color: #d400ff;
}
